<div>
  <br />
  <h4>Clientes - Novo</h4>
  <form action="/clientes" method="POST">
      <div>
          <label>ID</label>
          <input type="text" name="id">
      </div>
      <div>
          <label>Nome</label>
          <input type="text" name="nome">
      </div>
      <div>
          <button type="submit">Novo Cliente</button>
      </div>
  </form>
</div>
