<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Basico - Diretivas</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <p>{{nome}}</p>
        <input type="text" v-model="nome">
        <div v-if="visivel">
            <h4>DIV-1</h4>
        </div>
        <div v-else>
            <h4>DIV-2</h4>
        </div>
    </div>
    <script>
        let root = new Vue({
            el : "#root",
            data: {
                nome: "Eduardo Motton",
                visivel: true
            }
        });
    </script>
</body>
</html>