<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basico - IS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>

    <div id="root">
      <input type="text" v-model="qualComp" />
      <component :is="qualComp"></component>
      <hr />
      
    </div>

    <template id="nomes">
      <div>
        <p v-for="(nome, index) in nomes" :key="index">{{nome}}</p>
      </div>
    </template>

    <template id="clientes">
      <ul>
        <li v-for="cliente in clientes" :key="cliente.id">
          {{cliente.nome}} - {{cliente.idade}}
        </li>
      </ul>
    </template>

    <script>

      Vue.component("compnomes", {
        template: "#nomes",
        data: function () {
          return {
            nomes: [
              "Eduardo Motton",
              "Bheatriz Motton",
              "Henrique Motton",
              "Célia Maria Costa"
            ]
          };
        }
      });

      Vue.component("compclientes", {
        template: "#clientes",
        data: function () {
          return {
            clientes: [
              { id: 1, nome: "Eduardo Motton", idade: 51 },
              { id: 2, nome: "Bheatriz Motton", idade: 15 },
              { id: 3, nome: "Henrique Motton", idade: 22 },
              { id: 4, nome: "Célia Maria Costa", idade: 39 }
            ]
          };
        }
      });

      let root = new Vue({
        el: "#root",
        data: function(){
            return {
                qualComp: 'compclientes'
            }
        }
      });
      
    </script>
  </body>
</html>
